In [2]:
#Task Two-yfinance
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw_analyst_ratings.csv')

In [3]:
df = df[['date', 'stock']]

In [4]:
df.head()

                        date stock
0  2020-06-05 10:30:54-04:00     A
1  2020-06-03 10:45:20-04:00     A
2  2020-05-26 04:30:07-04:00     A
3  2020-05-22 12:45:06-04:00     A
4  2020-05-22 11:38:59-04:00     A

In [5]:
unique_values = df['stock'].unique()

In [6]:
unique_values

array(['A', 'AA', 'AAC', ..., 'ZU', 'ZUMZ', 'ZX'], dtype=object)

In [7]:
df["date"] = pd.DataFrame(df["date"])

In [8]:
df['date'] = pd.to_datetime(df['date'], utc=True)

In [9]:
grouped_data = df.groupby('stock')

In [10]:
earliest_dates = grouped_data['date'].min()
latest_dates = grouped_data['date'].max()

In [11]:
earliest_dates

stock
A      2009-04-29 00:00:00+00:00
AA     2009-08-10 00:00:00+00:00
AAC    2010-03-25 00:00:00+00:00
AADR   2013-03-05 19:42:46+00:00
AAL    2011-05-16 00:00:00+00:00
                  ...
ZTR    2009-08-10 00:00:00+00:00
ZTS    2013-01-17 00:00:00+00:00
ZU     2013-11-14 00:00:00+00:00
ZUMZ   2009-11-16 00:00:00+00:00
ZX     2011-05-12 00:00:00+00:00
Name: date, Length: 6204, dtype: datetime64[ns, UTC]

In [12]:
latest_dates

stock
A      2020-06-05 14:30:54+00:00
AA     2020-06-09 14:52:15+00:00
AAC    2019-10-25 20:09:59+00:00
AADR   2013-09-06 19:06:35+00:00
AAL    2020-06-10 15:21:01+00:00
                  ...
ZTR    2020-03-19 14:49:42+00:00
ZTS    2020-06-11 14:22:31+00:00
ZU     2020-01-09 18:34:23+00:00
ZUMZ   2020-06-05 11:24:15+00:00
ZX     2018-06-15 13:01:12+00:00
Name: date, Length: 6204, dtype: datetime64[ns, UTC]

In [4]:
import yfinance as yf

In [5]:
stock_df = pd.DataFrame()